@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../assets/fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-Semibold.woff2") format("woff2"), url("../assets/fonts/Gilroy-Semibold.woff") format("woff"), url("../assets/fonts/Gilroy-Semibold.ttf") format("truetype"), url("../assets/fonts/Gilroy-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-Bold.woff2") format("woff2"), url("../assets/fonts/Gilroy-Bold.woff") format("woff"), url("../assets/fonts/Gilroy-Bold.ttf") format("truetype"), url("../assets/fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
body {
  background: #0F1144;
  font-family: "Gilroy-SemiBold", sans-serif;
}
body._lock {
  overflow: hidden;
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1030px) {
  ._container {
    max-width: 804px;
  }
}
@media (max-width: 770px) {
  ._container {
    max-width: 560px;
  }
}
@media (max-width: 430px) {
  ._container {
    max-width: 345px;
  }
}

._text-block {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  color: #8476AA;
}

._title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #99EFD0;
}
._title span {
  color: #F2994A;
}

._text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 43px;
}
._text-wrapper ._title {
  margin-bottom: 32px;
}
@media (max-width: 430px) {
  ._text-wrapper ._title {
    margin-bottom: 20px;
  }
}

.btn-v1, .btn-v2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
}

.btn-v1 {
  color: #fff;
  background: #F2994A;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.btn-v2 {
  color: #F2994A;
  background: transparent;
  border-color: #F2994A;
}

._content-H {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._content-V {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._bg-stars img {
  opacity: 0.2;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
@media (max-width: 770px) {
  .header {
    overflow: hidden;
  }
}

.header-content {
  padding: 79px 0 30px 0;
}
@media (max-width: 770px) {
  .header-content {
    padding: 30px 0 30px 0;
  }
}

.header__logo {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #F2994A;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px transparent solid;
}
.header__logo .logo-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo::before, .header__logo::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  background: #fff;
  top: 49%;
  left: 50%;
  -webkit-transition: all 0.3s all;
  transition: all 0.3s all;
  -webkit-transform: scale(0);
          transform: scale(0);
}
@media (max-width: 770px) {
  .header__logo {
    z-index: 11;
  }
  .header__logo._menu-active {
    border: 1px #fff solid;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .header__logo._menu-active .logo-img {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__logo._menu-active::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .header__logo._menu-active::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 92.72%;
          flex: 0 1 92.72%;
}
@media (max-width: 770px) {
  .menu {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(37, 19, 65, 0.7);
    left: -100%;
    top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    padding: 110px 0 0 0;
    -webkit-transform-origin: -2% 80%;
            transform-origin: -2% 80%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu._menu-active {
    left: 0%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.menu-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.019%;
          flex: 0 1 34.019%;
}
@media (max-width: 1030px) {
  .menu-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50.019%;
            flex: 0 1 50.019%;
  }
}
@media (max-width: 770px) {
  .menu-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
}
.menu-list .menu-item {
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.menu-list .menu-item .menu-link {
  color: #b5b5b5;
}
@media (max-width: 770px) {
  .menu-list .menu-item {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  .menu-list .menu-item .menu-link {
    color: #99EFD0;
  }
  .menu-list .menu-item:last-child {
    margin-bottom: 0;
  }
}

.menu-btns-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.92%;
          flex: 0 1 23.92%;
}
@media (max-width: 1030px) {
  .menu-btns-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34.92%;
            flex: 0 1 34.92%;
  }
}
@media (max-width: 770px) {
  .menu-btns-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40.92%;
            flex: 0 1 40.92%;
  }
}

.header__btn {
  padding: 8px 23px;
  width: 45%;
}
@media (max-width: 770px) {
  .header__btn {
    padding: 8px 23px 6px 23px;
    width: 45%;
    font-size: 16px;
  }
}

.sections-gradient {
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}

.main {
  padding-top: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 770px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 770px) {
  .main {
    padding-top: 110px;
  }
}

.main-wrapper {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-bottom: 103px;
}

.main__img {
  position: absolute;
}
@media (max-width: 770px) {
  .main__img {
    width: 77%;
    top: 23%;
    left: 13%;
    opacity: 0.4;
  }
}
@media (max-width: 430px) {
  .main__img {
    width: 151%;
    top: 12%;
    left: 2%;
  }
}
.main__img img {
  max-width: 100%;
}
@media (min-width: 770px) {
  .main__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    padding-bottom: 40%;
    position: relative;
  }
  .main__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main-section {
  max-width: 540px;
}
@media (min-width: 770px) {
  .main-section {
    width: 50%;
    padding: 0 20px;
  }
}

.main__text__wrapper .main__title {
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 19px;
}
@media (max-width: 1030px) {
  .main__text__wrapper .main__title {
    font-size: 35px;
    line-height: 48px;
  }
}
@media (max-width: 430px) {
  .main__text__wrapper .main__title {
    font-size: 27px;
    line-height: 34px;
  }
}
.main__text__wrapper .main__text__block {
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 1030px) {
  .main__text__wrapper .main__text__block {
    font-size: 15px;
    line-height: 20px;
  }
}

.main__btns_wrapper {
  width: 71.52%;
  margin-bottom: 60px;
}
@media (max-width: 1030px) {
  .main__btns_wrapper {
    width: 80.52%;
  }
}
@media (max-width: 430px) {
  .main__btns_wrapper {
    width: 100%;
  }
}

.main__btn {
  width: 42.85%;
  padding: 13px 13px;
}

.main-video .main-video-player {
  width: 140px;
  height: 70px;
  background: #F2994A;
}
.main-video .main-video__text__wrapper {
  margin-bottom: 0;
  max-width: 380px;
}
.main-video .main-video__text__wrapper .main-video__text__block {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 6px;
}
@media (max-width: 1030px) {
  .main-video .main-video__text__wrapper .main-video__text__block {
    font-size: 15px;
    line-height: 20px;
  }
}
.main-video .main-video__text__wrapper .main-video__preview {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #6D6D78;
}

.your-choice {
  position: relative;
  padding-bottom: 161px;
  overflow: hidden;
}
@media (max-width: 770px) {
  .your-choice {
    padding-bottom: 100px;
  }
}
@media (max-width: 430px) {
  .your-choice {
    padding-bottom: 85px;
  }
}

.your-choice__bg__left, .your-choice__bg__right {
  position: absolute;
  top: 0;
  max-width: 387px;
}
@media (max-width: 1030px) {
  .your-choice__bg__left, .your-choice__bg__right {
    top: 28%;
    max-width: 200px;
  }
}
.your-choice__bg__left img, .your-choice__bg__right img {
  width: 100%;
  height: auto;
}

.your-choice__bg__left {
  left: -4%;
}
@media (min-width: 1441px) {
  .your-choice__bg__left {
    left: 0;
  }
}

.your-choice__bg__right {
  right: -4%;
}
@media (min-width: 1441px) {
  .your-choice__bg__right {
    right: 0;
  }
}
@media (max-width: 770px) {
  .your-choice__bg__right {
    top: 55%;
  }
}

.your-choice-content {
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.your-choice-companies {
  margin-bottom: 101px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 770px) {
  .your-choice-companies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    margin-bottom: 75px;
  }
}
@media (max-width: 430px) {
  .your-choice-companies {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.your-choice-companie__item {
  max-width: 117px;
}
.your-choice-companie__item img {
  opacity: 0.3;
  max-width: 100%;
}
@media (max-width: 770px) {
  .your-choice-companie__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin-bottom: 30px;
  }
  .your-choice-companie__item:nth-child(5), .your-choice-companie__item:nth-child(6) {
    margin-bottom: 0;
  }
  .your-choice-companie__item:nth-child(4) {
    -webkit-transform: translate(-29px, 0);
            transform: translate(-29px, 0);
  }
  .your-choice-companie__item:nth-child(3) {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  .your-choice-companie__item:nth-child(5) {
    -webkit-transform: translate(34px, 0);
            transform: translate(34px, 0);
  }
  .your-choice-companie__item:nth-child(6) {
    -webkit-transform: translate(-22px, 0);
            transform: translate(-22px, 0);
  }
}
@media (max-width: 430px) {
  .your-choice-companie__item {
    margin-bottom: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .your-choice-companie__item:nth-child(5), .your-choice-companie__item:nth-child(6) {
    -webkit-transform: none;
            transform: none;
  }
  .your-choice-companie__item:nth-child(3) {
    -webkit-transform: translate(-47px, 0);
            transform: translate(-47px, 0);
  }
  .your-choice-companie__item:nth-child(4) {
    -webkit-transform: translate(47px, 0);
            transform: translate(47px, 0);
  }
  .your-choice-companie__item img {
    max-width: 65%;
  }
}

.your-choice__text__wrapper {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.your-choice__text__wrapper .your-choice__title {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 13px;
}
@media (max-width: 430px) {
  .your-choice__text__wrapper .your-choice__title {
    font-size: 37px;
    line-height: 43px;
  }
}
.your-choice__text__wrapper .your-choice__text__block {
  font-size: 16px;
  line-height: 22px;
}

.benefits__wrapper {
  max-width: 1000px;
  margin: auto;
}

.benefits {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 430px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.benefits__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.benefits__item:nth-child(1), .benefits__item:nth-child(2), .benefits__item:nth-child(3) {
  margin-bottom: 43px;
}
@media (max-width: 770px) {
  .benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46%;
            flex: 0 1 46%;
    margin-bottom: 43px;
  }
}
@media (max-width: 430px) {
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}

.benefits__picture {
  width: 24px;
  height: 24px;
}
.benefits__picture .benefits__img {
  width: 100%;
  height: auto;
}

.benefits__text__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 82.33%;
          flex: 0 1 82.33%;
  margin-bottom: 0;
}
.benefits__text__wrapper .benefits__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}
@media (max-width: 770px) {
  .benefits__text__wrapper .benefits__title {
    font-size: 17px;
  }
}
.benefits__text__wrapper .benefits__text__block {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}

.same-content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 770px) {
  .same-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 430px) {
  .same-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.same-content__main {
  max-width: 470px;
}
@media (max-width: 1030px) {
  .same-content__main {
    max-width: 414px;
  }
}
@media (max-width: 430px) {
  .same-content__main {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 292px;
  }
}

@media (max-width: 430px) {
  .same__text__wrapper {
    margin-bottom: 25px;
  }
}
.same__text__wrapper .same__title {
  font-size: 42px;
  line-height: 50px;
}
@media (max-width: 770px) {
  .same__text__wrapper .same__title {
    font-size: 40px;
    line-height: 44px;
  }
}
@media (max-width: 430px) {
  .same__text__wrapper .same__title {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}
.same__text__wrapper .same__text__block {
  font-size: 15px;
  line-height: 28px;
  /* or 187% */
  letter-spacing: 0.5px;
}
@media (max-width: 430px) {
  .same__text__wrapper .same__text__block {
    font-size: 15px;
    line-height: 24px;
  }
}

.same__btn {
  max-width: 155px;
  padding: 14px 28px;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
}

.traffic {
  padding-bottom: 196px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1030px) {
  .traffic {
    padding-bottom: 112px;
  }
}
@media (max-width: 770px) {
  .traffic {
    padding-bottom: 75px;
  }
}
.traffic .traffic__bg {
  max-width: 384px;
  position: absolute;
  left: -6%;
  bottom: -29%;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
  z-index: 1;
}
@media (max-width: 770px) {
  .traffic .traffic__bg {
    left: auto;
    right: -22%;
    bottom: -35%;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

.traffic-content {
  position: relative;
  z-index: 2;
}

.traffic__btn {
  /* max-width: 155px;
  padding: 14px 28px;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23); */
}

.traffic__picture {
  max-width: 440px;
}
.traffic__picture .traffic__img {
  width: 100%;
  height: auto;
}
@media (max-width: 430px) {
  .traffic__picture {
    max-width: 250px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.invest {
  position: relative;
  overflow: hidden;
  padding-top: 143px;
  padding-bottom: 104px;
}
@media (max-width: 1030px) {
  .invest {
    padding-top: 100px;
  }
}
@media (max-width: 430px) {
  .invest {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}

.invest__bg {
  position: absolute;
  top: 60%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 46.18%;
}
.invest__bg img {
  width: 100%;
  height: auto;
}
@media (max-width: 430px) {
  .invest__bg {
    top: 31%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 109.18%;
  }
}

.invest-content {
  position: relative;
  z-index: 3;
}
@media (max-width: 430px) {
  .invest-content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 430px) {
  .invest-content__main {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media (max-width: 430px) {
  .invest__text__wrapper .invest__title {
    font-size: 31px;
  }
}
.invest__picture {
  max-width: 400px;
}
.invest__picture .invest__img {
  width: 100%;
  height: auto;
}
@media (max-width: 430px) {
  .invest__picture {
    max-width: 250px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 30px;
  }
}

.money-safe {
  padding-bottom: 169px;
}
@media (max-width: 1030px) {
  .money-safe {
    padding-bottom: 100px;
  }
}

.money-safe__text__wrapper {
  max-width: 748px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 48px;
}

.money-safe__title {
  font-size: 36px;
  line-height: 42px;
  /* or 117% */
  letter-spacing: 0.33px;
}
@media (max-width: 770px) {
  .money-safe__title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 430px) {
  .money-safe__title {
    font-size: 20px;
    line-height: 27px;
  }
}

.money-safe__text__block {
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.2px;
  max-width: 414px;
}

.money-safe-info-list .money-safe-info-list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.45%;
          flex: 0 1 26.45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 430px) {
  .money-safe-info-list .money-safe-info-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46.45%;
            flex: 0 1 46.45%;
    width: 80%;
    margin-bottom: 60px;
  }
  .money-safe-info-list .money-safe-info-list__item:nth-child(2) .money-safe-info-list__title {
    color: #F2994A;
  }
  .money-safe-info-list .money-safe-info-list__item:last-child {
    margin-bottom: 0;
  }
}
.money-safe-info-list .money-safe-info-list__item .money-safe-info-list__title {
  font-size: 36px;
  line-height: 42px;
  /* identical to box height, or 117% */
  letter-spacing: 0.33px;
  margin-bottom: 16px;
}
@media (max-width: 430px) {
  .money-safe-info-list .money-safe-info-list__item .money-safe-info-list__title {
    font-size: 32px;
    line-height: 37px;
    /* identical to box height, or 117% */
    letter-spacing: 0.33px;
    margin-bottom: 10px;
  }
}
.money-safe-info-list .money-safe-info-list__item .money-safe-info-list__text__block {
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.2px;
}
@media (max-width: 430px) {
  .money-safe-info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.get-started {
  position: relative;
  padding-bottom: 30%;
}

.get-started-content {
  max-width: 770px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
.get-started-content .get-started__title {
  font-size: 42px;
  line-height: 50px;
  /* or 119% */
  text-align: center;
  margin-bottom: 46px;
}
@media (max-width: 430px) {
  .get-started-content .get-started__title {
    font-size: 34px;
    line-height: 39px;
  }
}
.get-started-content .get-started__btn {
  width: 164px;
  padding: 17px 30px;
}

.get-started__bg__img {
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}
.get-started__bg__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.features {
  position: relative;
  z-index: 3;
  overflow: hidden;
  margin-bottom: 146px;
}
@media (max-width: 1030px) {
  .features {
    margin-bottom: 100px;
  }
}
@media (max-width: 770px) {
  .features {
    margin-bottom: 75px;
  }
}
@media (max-width: 430px) {
  .features {
    margin-bottom: 60px;
  }
}

.features__bg {
  position: absolute;
  z-index: 1;
  right: 0%;
  top: -20%;
  max-width: 384px;
}
@media (max-width: 770px) {
  .features__bg {
    right: auto;
    left: 0;
    top: 2%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (max-width: 430px) {
  .features__bg {
    left: 0;
    top: 44%;
    max-width: 200px;
  }
}
.features__bg img {
  width: 100%;
  height: auto;
}

.features-content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 2;
}
@media (max-width: 430px) {
  .features-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__picture {
  max-width: 494px;
}
.features__picture .features__img {
  width: 100%;
  height: auto;
}

.features-content__main {
  max-width: 512px;
  padding-left: 20px;
  -webkit-transform: translate(0, 28px);
          transform: translate(0, 28px);
}
@media (max-width: 1030px) {
  .features-content__main {
    max-width: 465px;
  }
}
@media (max-width: 430px) {
  .features-content__main {
    padding: 0;
  }
}

.features__text__wrapper {
  max-width: 414px;
}
.features__text__wrapper .features__title {
  font-size: 26px;
  line-height: 32px;
  /* identical to box height, or 123% */
  letter-spacing: 0.325px;
}
.features__text__wrapper .features__text__block {
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.2px;
}

.features-list {
  width: 100%;
}
.features-list .features-list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43.75%;
          flex: 0 1 43.75%;
}
.features-list .features-list__item .features-list__picture {
  width: 36px;
  height: 36px;
  margin-bottom: 16px;
}
.features-list .features-list__item .features-list__picture .features-list__img {
  width: 100%;
  height: auto;
}
.features-list .features-list__item .features-list__text__wrapper .features-list__title {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.features-list .features-list__item .features-list__text__wrapper .features-list__text__block {
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.2px;
}
@media (max-width: 430px) {
  .features-list .features-list__item .features-list__text__wrapper .features-list__text__block {
    font-size: 14px;
    line-height: 18px;
  }
}

.email {
  position: relative;
  padding: 20px 0 78px 0;
  margin-bottom: 60px;
  overflow: hidden;
  z-index: 3;
}
@media (max-width: 1030px) {
  .email {
    margin-bottom: 0px;
  }
}
@media (max-width: 770px) {
  .email {
    padding-bottom: 58px;
  }
}

.email__bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 1;
}
.email__bg img {
  width: 100%;
  height: auto;
}
@media (max-width: 1030px) {
  .email__bg {
    top: 25%;
  }
}

.email__wrapper {
  position: relative;
  z-index: 2;
  width: 65.2777%;
  margin: 0 auto;
  background: rgba(60, 62, 125, 0.19);
  -webkit-backdrop-filter: blur(134px);
          backdrop-filter: blur(134px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
}
@media (max-width: 430px) {
  .email__wrapper {
    width: 70%;
  }
}

.email-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 155px;
}
@media (max-width: 1030px) {
  .email-form {
    padding: 50px 45px;
  }
}
@media (max-width: 430px) {
  .email-form {
    padding: 30px 25px;
  }
}

.email-form__text__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}
.email-form__text__wrapper .email-form__title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #F2994A;
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  .email-form__text__wrapper .email-form__title {
    font-size: 25px;
    line-height: 25px;
  }
}
.email-form__text__wrapper .email-form__text__block {
  max-width: 396px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 137% */
  color: #95A1BB;
}
@media (max-width: 430px) {
  .email-form__text__wrapper .email-form__text__block {
    font-size: 14px;
    line-height: 20px;
  }
}

.email-form__input__wrapper {
  max-width: 416px;
  width: 100%;
  height: 56px;
  margin-bottom: 16px;
}

.email-form__input {
  height: 100%;
  width: 69.24%;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #99EFD0;
  padding: 18px 16px;
  background: rgba(246, 246, 246, 0.1);
  border-radius: 5px 0 0 5px;
}
.email-form__input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.2;
}
.email-form__input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.2;
}
.email-form__input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.2;
}
.email-form__input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.2;
}
.email-form__input::placeholder {
  color: #FFFFFF;
  opacity: 0.2;
}
@media (max-width: 430px) {
  .email-form__input {
    width: 80.24%;
  }
}

.email__btn {
  width: 30.76%;
  height: 100%;
  border-radius: 0 5px 5px 0;
}
@media (max-width: 430px) {
  .email__btn {
    width: 22.76%;
  }
}

.email-form__text__note {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
}

.footer {
  position: relative;
  overflow: hidden;
}

.footer__bg {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.3;
}
.footer__bg img {
  width: 100%;
  height: auto;
}
@media (max-width: 770px) {
  .footer__bg {
    bottom: 0%;
  }
  .footer__bg img {
    height: 100%;
    width: auto;
  }
}

.footer__container {
  padding: 46px 0 95px 0;
  position: relative;
  z-index: 3;
}
@media (max-width: 1030px) {
  .footer__container {
    padding: 46px 0 64px 0;
  }
}

.footer-content {
  padding: 0 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
}
.footer-content > * {
  width: 100%;
}

.footer-content__head {
  margin-bottom: 94px;
}
@media (max-width: 1030px) {
  .footer-content__head {
    margin-bottom: 75px;
  }
}
@media (max-width: 430px) {
  .footer-content__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px #F2994A solid;
    margin-bottom: 37px;
    padding-bottom: 38px;
  }
}
.footer-content__head .logo-footer {
  max-width: 125px;
}
@media (max-width: 430px) {
  .footer-content__head .logo-footer {
    margin-bottom: 30px;
    max-width: 137px;
  }
}
.footer-content__head .logo-footer img {
  width: 100%;
  height: auto;
}
.footer-content__head .footer-content-socials__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.81%;
          flex: 0 1 13.81%;
}
@media (max-width: 1030px) {
  .footer-content__head .footer-content-socials__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
@media (max-width: 770px) {
  .footer-content__head .footer-content-socials__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}
@media (max-width: 430px) {
  .footer-content__head .footer-content-socials__list {
    width: 82%;
  }
}
.footer-content__head .footer-content-socials__list .footer-content-socials__item {
  width: 40px;
  height: 40px;
  position: relative;
  background: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
}
.footer-content__head .footer-content-socials__list .footer-content-socials__item svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 430px) {
  .footer-content__head .footer-content-socials__list .footer-content-socials__item {
    width: 60px;
    height: 60px;
  }
  .footer-content__head .footer-content-socials__list .footer-content-socials__item svg {
    width: 40px;
    height: 40px;
  }
}
.footer-content-main__list {
  color: #FFFFFF;
  letter-spacing: 0.2px;
  margin-bottom: 120px;
}
@media (max-width: 1030px) {
  .footer-content-main__list {
    margin-bottom: 100px;
  }
}
@media (max-width: 770px) {
  .footer-content-main__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 430px) {
  .footer-content-main__list {
    border-bottom: 1px #F2994A solid;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 770px) {
  .footer-content-main__list .footer-content-main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46%;
            flex: 0 1 46%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content-main__list .footer-content-main__item:nth-child(1), .footer-content-main__list .footer-content-main__item:nth-child(2) {
    margin-bottom: 45px;
  }
}
.footer-content-main__list .footer-content-main__item .footer-content-main__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 25px;
}
@media (max-width: 770px) {
  .footer-content-main__list .footer-content-main__item .footer-content-main__title {
    color: #99EFD0;
  }
}
.footer-content-main__list .footer-content-main__item .footer-content-main__ref {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  color: inherit;
  margin-bottom: 16px;
}
.footer-content-main__list .footer-content-main__item .footer-content-main__ref:last-child {
  margin-bottom: 0;
}

.footer-content-copyrights {
  max-width: 402px;
}
@media (max-width: 430px) {
  .footer-content-copyrights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-content-copyrights .footer-content-copyrights__item {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #8D8D8D;
}
.footer-content-copyrights .footer-content-copyrights__item a {
  color: inherit;
}
@media (max-width: 430px) {
  .footer-content-copyrights .footer-content-copyrights__item {
    margin-bottom: 10px;
  }
  .footer-content-copyrights .footer-content-copyrights__item:first-child {
    margin-bottom: 0;
  }
}